.flex_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
}
img {
  width: 100%;
  height: auto;
}

section {
  margin: 2em;
}

label {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #20407a;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  color: #20407a;
}

.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #516fa6;
}

.big-tittle {
  margin: auto;
}

.medium-tittle {
  margin: auto;
  text-align: start;
}

.contact-form {
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
  box-sizing: border-box;
  font-family: "Spinnaker", sans-serif;
  width: 100%;
  padding: 16px;
  background-color: #e1ebfe;
  border: none;
  border-bottom: 6px solid #20407a;
  margin-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.input-group textarea {
  resize: none;
  border: none;
}

button {
  background-color: #003366;
  color: #ffffff;
  padding: 15px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  float: right;
  width: 60%;
}

button:hover {
  background-color: #0055b3;
}

#message-error {
  color: rgb(0, 0, 0);
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
}

.input-error input,
.input-error textarea {
  box-sizing: border-box;
  font-family: "Spinnaker", sans-serif;
  width: 100%;
  padding: 16px;
  background-color: #fee1e1;
  border: none;
  border-bottom: 6px solid #ff0000;
  margin-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
}

#message-error::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/error_icon/error.webp");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

#message-error {
  display: none; /* Cacher le message d'erreur par défaut */
}

.input-error #message-error::before {
  display: inline-block; /* Afficher l'icône uniquement lorsqu'il y a une erreur */
}