@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: #375791;
}
nav a ,img {
    color:white;
    padding: 1em;
    text-decoration: none;
}
nav a:hover {
    background-color: #2a4372;
}
nav .active {
    text-decoration: underline;
}
body {
    margin: auto;
}
.logo {
    height: 35px;
    width: auto;
}