@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	background-color: #20407A;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	width: 100%;
	top: 0;
}

nav a,
img {
	color: white;
	padding: 1em;
	text-decoration: none;
}

nav a,
img {
	color: white;
	padding: 1em;
	text-decoration: none;
}

nav a:hover {
	background-color: #516fa6;
}

nav .active {
	text-decoration: underline;
}

.burger-menu {
	display: none;
	font-size: 2em;
	color: white;
	cursor: pointer;
	padding: 10px;
	background-color: inherit;
	border-radius: 0;
}

footer {
	display: flex;
	background-color: #20407A;
	width: 100%;
	height: auto;
	color: white;
	align-items: center;
	justify-content: center;
	margin-top: auto;
}

body {
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	letter-spacing: normal;
	line-height: 1.2em;
	word-spacing: normal;
}

.logo {
	height: 35px;
	width: auto;
}

h1 {
	color: #516fa6;
	font-family: "Syncopate", sans-serif;
	font-size: 24px;
	text-align: center;
}

h2 {
	font-family: "Lexend", sans-serif;
	font-size: 20px;
	text-align: center;
}

p {
	font-family: "Roboto", sans-serif;
	text-align: justify;
	margin: 15px;
	font-size: 16px;
}

a {
	font-family: "Roboto", sans-serif;
}

main {
	display: flex;
	margin: auto;
	width: 50%;
	align-items: center;
	font-family: "Roboto", sans-serif;
}

button,
.button {
	background-color: #516fa6;
	color: white;
	border: none;
	border-radius: 5px;
	font-weight: bolder;
	padding: 15px 36px;
	font-size: 16px;
}

button:hover,
.button:hover {
	background-color: #7994c4;
}

a.button {
	text-decoration: none;
}

.skip-link {
	position: absolute;
	top: -60px;
	height: 40px;
	left: 0;
	background: #000;
	color: white;
	padding: 8px;
	z-index: 100;
	text-decoration: none;
}

.skip-link:focus {
	top: 0;
}

*:focus,
[tabindex="0"]:focus {
	outline: 3px dashed #ff0000;
}

section {
	padding: 40px 0px;
}

footer a {
	color: white;
}

footer a:hover {
	color: #8eaee6;
}

@media (max-width: 1200px) {
	main {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
	nav {
		justify-content: space-between;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		background-color: #20407A;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.nav-links a {
		padding: 1.5em;
		display: block;
	}

	.burger-menu {
		display: block;
	}
}